<template>
  <div @click="handleClickOutside" class="dark-layer">
    <div @click.stop class="modal">
      <h1>Create your folder here</h1>
      <span>Add a new folder to group your projects</span>
      <input type="text" v-model="input" />
      <span v-if="inputError" class="error">Input field cannot be empty</span>
      <span v-else-if="error" class="error">{{ error }}</span>
      <div class="buttons">
        <SecondaryButton
          :label="loading ? 'Saving...' : 'Create folder'"
          :clickevent="input ? createFolder : setInputError"
          :input="input"
        />
        <button @click="clickevent" class="cancel">Cancel</button>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, watch } from "vue";
//components
import SecondaryButton from "../../components/ui/SecondaryButton.vue";

//services
import createNewFolder from "../../services/createNewFolder";

export default {
  name: "CreateFolderModal",
  components: {
    SecondaryButton
  },
  props: {
    clickevent: Function
  },
  setup(props) {
    let { createFolder, error, loading } = createNewFolder();
    const input = ref("");
    const inputError = ref(false);

    function setInputError() {
      inputError.value = true;
    }

    const handleClickOutside = () => {
      props.clickevent();
    };

    //Removes inputError message as soon as input is no longer empty
    watch(input, () => {
      if (input.value) {
        inputError.value = false;
      }
    });

    return {
      input,
      createFolder,
      error,
      loading,
      inputError,
      setInputError,
      handleClickOutside
    };
  }
};
</script>

<style scoped>
div.dark-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}
div.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  width: 40%;
  height: 40%;
  background-color: #ffffff;
  z-index: 3;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
div.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button.cancel {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 42px;
  border-style: none;
  color: var(--c-primary);
  cursor: pointer;
}
button.cancel:focus {
  outline: thin dotted;
}
input {
  height: 30px;
  border-radius: 21px;
  border-style: solid;
  border-width: thin;
  padding: 0 1rem;
}
input:focus {
  outline: thin dotted;
}
span.error {
  color: red;
}
</style>
