<template>
  <div class="header-container">
    <Breadcrumb :crumbs="crumbs" />
    <div class="header-buttons">
      <PrimaryButton
        v-if="crumbs[0] === 'My Folders'"
        :clickevent="toggleModal"
        label="My Folders"
      />
      <!-- This button has no function at the moment -->
      <TertiaryButton label="View All" />
      <!-- This button has no function at the moment -->
    </div>
  </div>
  <CreateFolderModal v-if="isModalActive" :clickevent="toggleModal" />
</template>

<script>
//components
import Breadcrumb from "../ui/Breadcrumb";
import CreateFolderModal from "./CreateFolderModal.vue";
import PrimaryButton from "../ui/PrimaryButton.vue";
import TertiaryButton from "../ui/TertiaryButton.vue";

//services
import createNewFolder from "../../services/createNewFolder";

export default {
  name: "DashboardSectionHeader",
  components: {
    Breadcrumb,
    CreateFolderModal,
    PrimaryButton,
    TertiaryButton
  },
  props: {
    crumbs: Array
  },
  setup() {
    const { isModalActive } = createNewFolder();

    function toggleModal() {
      return (isModalActive.value = !isModalActive.value);
    }

    return { isModalActive, toggleModal };
  }
};
</script>

<style scoped>
div.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}
div.header-buttons {
  display: flex;
}
</style>
