<template>
  <ul v-if="crumbs[0] === 'My Folders' && data.length">
    <FolderCard :data="data" />
  </ul>
  <ul v-if="crumbs[0] === 'My Projects' && data.length">
    <ProjectCard :data="data" />
  </ul>
</template>

<script>
//components
import FolderCard from "../ui/FolderCard";
import ProjectCard from "../ui/ProjectCard";

//services
import fetchFolders from "../../services/fetchFolders";
import fetchProjects from "../../services/fetchProjects";
import fetchUser from "../../services/fetchUser";

export default {
  name: "DashboardSectionMain",
  components: {
    FolderCard,
    ProjectCard
  },
  props: {
    crumbs: Array
  },
  async setup(props) {
    let { fetchUserData } = fetchUser();

    const userData = await fetchUserData();
    const teamIdentifier = userData.included[0].attributes.team_identifier;

    if (props.crumbs[0] === "My Folders") {
      const { error, loading, fetchFolderData } = fetchFolders();
      const data = await fetchFolderData(teamIdentifier);

      return { data, error, loading };
    } else if (props.crumbs[0] === "My Projects") {
      const { error, loading, fetchProjectsData } = fetchProjects();
      const data = await fetchProjectsData(teamIdentifier);
      return { data, error, loading };
    }
  }
};
</script>

<style scoped>
span {
  font-weight: 700;
  margin: 4px;
}
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
</style>
