<template>
  <span v-if="error">{{ error }}</span>
  <Suspense>
    <template #default>
      <section>
        <DashboardSectionHeader :crumbs="crumbs" />
        <DashboardSectionMain :crumbs="crumbs" />
      </section>
    </template>
    <template #fallback>
      <span v-if="!error">Loading {{ crumbs[0] }}</span>
    </template>
  </Suspense>
</template>

<script>
import { ref, onErrorCaptured } from "vue";
//components
import DashboardSectionHeader from "./DashboardSectionHeader.vue";
import DashboardSectionMain from "./DashboardSectionMain.vue";

export default {
  name: "DashboardSection",
  components: {
    DashboardSectionHeader,
    DashboardSectionMain
  },
  props: {
    crumbs: Array
  },
  setup(props) {
    const error = ref(null);
    onErrorCaptured(() => {
      error.value = `Error - Could not load ${props.crumbs[0]}`;

      return true;
    });
    return { error };
  }
};
</script>

<style scoped>
div {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
span {
  font-weight: 700;
  margin: 4px;
}
</style>
