<template>
  <Breadcrumb />
  <span v-if="loading">Folder contents are loading...</span>
  <span v-if="error">{{ error }}</span>
  <ul
    v-if="
      data.hasOwnProperty('relationships') && data.relationships.projects.length
    "
  >
    <li v-for="project in data.relationships.projects" :key="project.id">
      <div class="projects">{{ project.type }} - No project data found</div>
    </li>
  </ul>
</template>

<script>
import { useRoute } from "vue-router";

//components
import Breadcrumb from "../ui/Breadcrumb";

//services
import fetchSingleFolder from "../../services/fetchSingleFolder";

export default {
  name: "FolderMain",
  components: {
    Breadcrumb
  },
  setup() {
    const { data, error, loading, fetchSingleFolderData } = fetchSingleFolder();

    const {
      params: { folderId }
    } = useRoute();

    fetchSingleFolderData(folderId);

    return {
      data,
      error,
      loading,
      fetchSingleFolderData
    };
  }
};
</script>

<style scoped>
ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0 1rem;
}
div.projects {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
  padding: 8px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
li {
  margin: 8px;
  list-style-type: none;
}
span {
  padding: 0 1rem;
}
</style>
