<template>
  <div>
    <Logo />
    <span v-if="loading">User is loading...</span>
    <span v-else-if="error">{{ error }}</span>
    <span v-else
      >{{ data.data.attributes.first_name }}
      {{ data.data.attributes.last_name }}</span
    >
  </div>
</template>

<script>
//components
import Logo from "../ui/Logo";

//services
import fetchUser from "../../services/fetchUser";

export default {
  name: "GlobalHeader",
  components: {
    Logo
  },
  setup() {
    const { data, error, loading, fetchUserData } = fetchUser();
    fetchUserData();

    return { data, error, loading };
  }
};
</script>

<style scoped>
div {
  display: flex;
  width: calc(100% - 2rem);
  height: 10vh;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
}
span {
  display: flex;
}
</style>
