<template>
  <div>
    <FolderMain />
  </div>
</template>

<script>
//components
import FolderMain from "../components/layout/FolderMain";

export default {
  name: "FolderView",
  components: {
    FolderMain
  }
};
</script>

<style scoped>
div {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: #f8f9fd;
}
</style>
