<template>
  <div class="dashboard-container">
    <DashboardSection :crumbs="crumbsFolder" />
    <DashboardSection :crumbs="crumbsProject" />
  </div>
</template>

<script>
//components
import DashboardSection from "../components/layout/DashboardSection.vue";

//State
import breadcrumbData from "../components/ui/breadcrumbData";

export default {
  name: "MyWorkspace",
  components: {
    DashboardSection
  },
  setup() {
    const { crumbsFolder, crumbsProject } = breadcrumbData();

    return { crumbsFolder, crumbsProject };
  }
};
</script>

<style scoped>
div.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f8f9fd;
}
</style>
