<template>
  <div class="header-container">
    <GlobalHeader />
  </div>
  <router-view />
</template>

<script>
//components
import GlobalHeader from "./components/layout/GlobalHeader.vue";

export default {
  name: "App",
  components: {
    GlobalHeader
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 100%;
  margin: 0;
  --c-primary: #377bdd;
  --c-secondary: #20c499;
}
</style>
