<template>
  <div v-if="crumbsFolder[0] === 'My Folders'">
    <div v-for="crumb in crumbsFolder" :key="crumb">
      <h1
        v-if="crumb === 'My Folders'"
        @click="handleClickCrumb"
        class="clickable"
      >
        {{ crumb }}
      </h1>
      <h1 v-else>{{ crumb }}</h1>
    </div>
  </div>
  <div v-else-if="crumbsProject[0] === 'My Projects'">
    <div v-for="crumb in crumbsProject" :key="crumb">
      <h1
        v-if="crumb === 'My Projects'"
        @click="handleClickCrumb"
        class="clickable"
      >
        {{ crumb }}
      </h1>
      <h1 v-else>{{ crumb }}</h1>
    </div>
  </div>
</template>

<script>
//state
import { useRoute, useRouter } from "vue-router";
import breadcrumbData from "../ui/breadcrumbData";

export default {
  name: "Breadcrumb",
  props: {
    crumbs: Array
  },
  setup() {
    const { crumbsFolder, crumbsProject } = breadcrumbData();

    const {
      params: { folderName }
    } = useRoute();

    const router = useRouter();

    if (folderName) {
      crumbsFolder.value.push(">");
      crumbsFolder.value.push(folderName);
    }

    const handleClickCrumb = () => {
      router.push({ name: "Home" });
    };

    return { crumbsFolder, crumbsProject, handleClickCrumb };
  }
};
</script>

<style scoped>
div {
  display: flex;
  align-items: center;
}
h1 {
  display: flex;
  background-color: rgba(55, 123, 221, 0);
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.25rem;
  border-radius: 5px;
  cursor: default;
  transition: 0.3s;
}
h1.clickable {
  cursor: pointer;
}
h1.clickable:hover {
  background-color: rgba(55, 123, 221, 0.1);
}
</style>
