<template>
  <li v-for="folder in data" :key="folder.id">
    <div
      @click="handleOpenFolder(folder.id, folder.attributes.name)"
      class="folders"
    >
      <img :src="FolderIcon" alt="folder" />
      <span>{{ folder.attributes.name }}</span>
      <small>{{ folder.attributes.total_projects }} Projects</small>
      <small
        >Last updated on
        {{ moment(folder.attributes.updated_at).format("MMM Do YY") }}</small
      >
    </div>
  </li>
</template>

<script>
import moment from "moment";
import { useRouter } from "vue-router";
import FolderIcon from "../../assets/icons/folder_24dp.svg";

export default {
  name: "FolderCard",
  props: {
    data: Object
  },
  setup() {
    const router = useRouter();

    const handleOpenFolder = (folderId, folderName) => {
      router.push({
        name: "Folder",
        params: { folderId: folderId, folderName: folderName }
      });
    };

    return { handleOpenFolder, FolderIcon, moment };
  }
};
</script>

<style scoped>
div.folders {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  padding: 1rem;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}
span {
  font-weight: 700;
  margin: 4px;
}
li {
  margin: 1rem;
}
small {
  margin: 4px;
  color: #505050;
}
.link {
  text-decoration: none;
  color: #272727;
}
img {
  margin: 0.5rem 0;
}
</style>
