<template>
  <router-link to="/" class="link">
    <h1>My workspace</h1>
  </router-link>
</template>

<script>
export default {
  name: "Logo"
};
</script>

<style scoped>
.link {
  text-decoration: none;
}
h1 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--c-primary);
  text-transform: uppercase;
}
</style>
