<template>
  <button @click="clickevent">{{ label }}</button>
</template>

<script>
export default {
  name: "PrimaryButton",
  props: {
    clickevent: Function,
    label: String
  }
};
</script>

<style scoped>
button {
  background-color: var(--c-primary);
  color: #ffffff;
  border-style: none;
  border-radius: 5px;
  height: 42px;
  margin: 4px;
  padding: 0 1rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
button:focus {
  outline: thin dotted;
}
</style>
