<template>
  <li v-for="project in data" :key="project.id">
    <div class="projects">
      <span>{{ project.attributes.name }}</span>
      <div class="order-details">
        <small>Date of order: </small>
        <small
          ><strong>{{
            moment(project.attributes.created).format("MMM Do YY")
          }}</strong></small
        >
        <small>Price:</small>
        <small>
          <strong
            >{{ project.attributes.price.total }}
            {{ project.attributes.price.currency }}</strong
          ></small
        >
      </div>
      <div class="languages">
        <small
          >From <strong>{{ project.attributes.source_language }}</strong></small
        >
        <small
          v-for="language in project.attributes.target_languages"
          :key="language"
          >To <strong>{{ language }}</strong></small
        >
      </div>
      <div class="status">
        <span v-if="project.attributes.status === 'COMPLETED'"
          >Translation is ready</span
        >
        <span v-else>Pending</span>
      </div>
    </div>
  </li>
</template>

<script>
import moment from "moment";

export default {
  name: "ProjectCard",
  props: {
    data: Object
  },
  setup() {
    return { moment };
  }
};
</script>

<style scoped>
div.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 300px;
  padding: 1rem;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  position: relative;
}
div.order-details {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35%;
}
div.languages {
  display: flex;
  width: calc(100% - 2rem);
  justify-content: space-between;
  position: absolute;
  top: 65%;
}
div.status {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
  background-color: #e3f6ed;
  color: #20c499;
}
span {
  font-weight: 700;
  margin: 4px;
  line-height: 28px;
}
li {
  margin: 1rem;
}
small {
  margin: 4px;
  color: #505050;
}
</style>
