<template>
  <button @click="clickevent(input)">{{ label }}</button>
</template>

<script>
export default {
  name: "SecondaryButton",
  props: {
    clickevent: Function,
    input: String,
    label: String
  }
};
</script>

<style scoped>
button {
  background-color: var(--c-secondary);
  color: #ffffff;
  font-weight: 600;
  border-style: none;
  border-radius: 21px;
  height: 42px;
  margin: 4px;
  padding: 0 2rem;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
button:focus {
  outline: thin dotted;
}
</style>
