<template>
  <button>{{ label }}</button>
</template>

<script>
export default {
  name: "TertiaryButton",
  props: { label: String }
};
</script>

<style scoped>
button {
  background-color: transparent;
  color: var(--c-primary);
  font-weight: 600;
  border-style: none;
  height: 42px;
  margin: 4px;
  padding: 0 1rem;
  cursor: pointer;
}
button:focus {
  outline: thin dotted;
}
</style>
